#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.containerlogin{
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

h1{
    text-align: center;
}

#nomelog, #senhalog{
  margin-bottom: 20px;
}

a:link, a:visited{
    color: green;
}

p{
    font-weight: bold;
    text-align: center;
}